{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-4">Detalhes do Clientes Html</h3>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ object.TOKEN_UUID }}</h3>
        <p class="card-text">{{ object.REPORT_ID }}</p>
        <p class="card-text">{{ object.WORKSPACE_ID }}</p>
        <p class="card-text">{{ object.EMBED_URL }}</p>
        <p class="card-text">{{ object.EMBED_TOKEN }}</p>
        <p class="card-text">{{ object.EXPIRES_AT }}</p>
        <p class="card-text">{{ object.CLIENT_HTML }}</p>
      </div>
    </div>

    <a href="{% url 'clienteshtml_list' %}" class="btn btn-secondary mt-3">Voltar para a Lista de Clientes Html</a>
  </div>
{% endblock %}
